<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="ManagerBaseConfiguration" type="Tenaris.Manager.Forum.Shared.Configuration.ManagerBaseConfiguration, Tenaris.Manager.Forum.Shared, Version=4.1.0.0, Culture=neutral, PublicKeyToken=8a748c80852b8187"/>
    <section name="Tenaris.Manager.Production.ProductionManager" type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework, Version=4.1.0.0, Culture=neutral, PublicKeyToken=d69ca37b4d4b73b8"/>
    <section name="log" type="Tenaris.Library.Log.LogConfiguration, Tenaris.Library.Log, Version=4.1.0.0, Culture=neutral, PublicKeyToken=bbb03b5ff4bbb68b"/>

    <section name="Tenaris.Manager.Shift" 
             type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy, Version=4.1.0.0, Culture=neutral, PublicKeyToken=c4a5016cfc42fcd0"/>

    <section name="Tenaris.Manager.Tracking"
             type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy, Version=4.1.0.0, Culture=neutral, PublicKeyToken=c4a5016cfc42fcd0"/>
    
    
    <section name="Tenaris.Manager.Handshake.HandshakeManager"
         type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework, Version=4.1.0.0, Culture=neutral, PublicKeyToken=d69ca37b4d4b73b8"/>

    <!--
    <section name="Tenaris.Manager.Handshake.HandshakeManager"
             type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy, Version=4.1.0.0, Culture=neutral, PublicKeyToken=c4a5016cfc42fcd0"/>
-->
    <section name="AcquisitionConfiguration" 
             type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework, Version=4.1.0.0, Culture=neutral, PublicKeyToken=d69ca37b4d4b73b8"/>

    <section name="Tenaris.Manager.Command.CommandManager" 
             type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy, Version=4.1.0.0, Culture=neutral, PublicKeyToken=c4a5016cfc42fcd0"/>

    <section name="SpecificationServiceClient" type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework, Version=4.1.0.0, Culture=neutral, PublicKeyToken=d69ca37b4d4b73b8"/>
    <section name="SpecificationAdministratorClient" type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework, Version=4.1.0.0, Culture=neutral, PublicKeyToken=d69ca37b4d4b73b8"/>

  </configSections>

  <SpecificationServiceClient factoryType="Tenaris.Dalmine.Service.Specification.Client.SpecificationServiceClientFactory, Tenaris.Dalmine.Service.Specification.Client" isSingleton="True">
    <SpecificationServiceClientConfiguration Address="net.tcp://10.41.186.46:9000/SpecificationService"/>
  </SpecificationServiceClient>

  <SpecificationAdministratorClient factoryType="Tenaris.Dalmine.Service.Specification.Client.SpecificationAdministratorClientFactory, Tenaris.Dalmine.Service.Specification.Client" isSingleton="True">
    <SpecificationAdministratorClientConfiguration Address="net.tcp://10.41.186.46:9001/SpecificationManagerService"/>
  </SpecificationAdministratorClient>  

  <connectionStrings>
    <add name="dbLevel2" connectionString="Data Source=autmdbdev;Initial Catalog=scsiz200;User ID=L2Appl;Password=L2Appl;Persist Security Info=True;MultipleActiveResultSets=True; Pooling=true; Max Pool Size=300;" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <!-- Configuration specific for use a different configuration provider -->
  <!--<configProtectedData>
    <providers>
      <add name="factoryProvider" type="Tenaris.Library.Configuration.DbConfigurationProvider, Tenaris.Library.Configuration" connectionStringName="dbLevel2"/>
    </providers>
  </configProtectedData>-->

  <!-- Common configuration section -->
  <ManagerBaseConfiguration areaCode="PREMIUM" defaultConnectionStringName="dbLevel2"/>

  <!-- Manager specific configuration -->
  <Tenaris.Manager.Production.ProductionManager factoryType="Tenaris.Manager.Production.ProductionManagerFactory, Tenaris.Manager.Production" isSingleton="True">

    <ProductionManagerConfiguration
      ChangeShiftMaxRetry="10"
      LoadDefinitionCode="ProdLoad"
      CountDefinitionCode="ProdCount"
      CheckProductDefinitionCode="ProdCheckProduct"
      CheckProductAndLoadDefinitionCode="ProdChPrLoad"
      LoadAndCountDefinitionCode="ProdLoadCount"
      CheckProductAndLoadAndCountDefinitionCode="ProdChPrLoadCount"
      ApplicationCode="ProductionManager"
      MaximumDatabaseTransactionRetryCount="0"
      CommandLockMachineLoadDefinitionCode="Prod_LockMachine"
      CommandProductDataDefinitionCode="Prod_ProductData"
      UseHandshakeManagerInProc="true"
      CommandManagerSectionName="Tenaris.Manager.Command.CommandManager"
      HandshakeManagerSectionName="Tenaris.Manager.Handshake.HandshakeManager"
      ShiftManagerSectionName="Tenaris.Manager.Shift"
      TrackingManagerSectionName="Tenaris.Manager.Tracking"
      SpecificationServiceSectionName="SpecificationServiceClient"
      LoadBatchChangeByPiecesMode="AfterLoad"
      BalancePluginType="Tenaris.Dalmine.Manager.Production.BalancePlugin, Tenaris.Dalmine.Manager.Production" />

    <!-- ChangeShiftMaxRetry                        - Maximum number of retries to process change of shift (retries are performed only in case of failure
                                                      processing change of shift) -->
    <!-- LoadDefinitionCode                         - Code of Definition for all LOAD handshakes -->
    <!-- CountDefinitionCode                        - Code of Definition for all COUNT handshakes -->
    <!-- CheckProductDefinitionCode                 - Code of Definition for all CHECKPRODUCT handshakes -->
    <!-- CheckProductAndLoadDefinitionCode          - Code of Definition for all CHECKPRODUCTANDLOAD handshakes -->
    <!-- LoadAndCountDefinitionCode                 - Code of Definition for all LOADANDCOUNT handshakes -->
    <!-- CheckProductAndLoadAndCountDefinitionCode  - Code of Definition for all CHECKPRODUCTANDLOADANDCOUNT handshakes -->
    <!-- ApplicationCode                            - Application code that corresponds to Production Manager -->
    <!-- MaximumDatabaseTransactionRetryCount       - Number of retries performed for a failed transaction -->
    <!-- CommandLockMachineLoadDefinitionCode       - Code of Definition for all LOCKMACHINE commands -->
    <!-- CommandProductDataDefinitionCode           - Code of Definition for all PRODUCTDATA commands -->
    <!-- UseHandshakeManagerInProc                  - True if the handshake manager is internally istantiated -->
    <!-- CommandManagerSectionName                  - CommandManager configuration section name -->
    <!-- HandshakeManagerSectionName                - HandshakeManager configuration section name -->
    <!-- ShiftManagerSectionName                    - ShiftManager configuration section name -->
    <!-- TrackingManagerSectionName                 - TrackingManager configuration section name -->

  </Tenaris.Manager.Production.ProductionManager>

  <!-- Remoting configuration. This can be put in a separete file remoting.config-->
  <system.runtime.remoting>
    <application name="Server">
      <channels>
        <channel ref="tcp" port="8040" bindTo="10.41.186.128">
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full"/>
          </serverProviders>
          <clientProviders>
            <provider type="Tenaris.Library.Proxy.Remoting.ClientRemotingInterceptorProvider, Tenaris.Library.Proxy, Version=4.1.0.0, Culture=neutral, PublicKeyToken=c4a5016cfc42fcd0"/>
            <formatter ref="binary" typeFilterLevel="Full"/>
          </clientProviders>
        </channel>
      </channels>
    </application>
    <customErrors mode="off" />
  </system.runtime.remoting>

  <!-- Shift manager configuration -->
  <Tenaris.Manager.Shift
    instanceType="Tenaris.Manager.Shift.Shared.IShiftManager, Tenaris.Manager.Shift.Shared, Version=4.2.0.0, Culture=neutral, PublicKeyToken=c58e4ef934a092e9"
    aliveInterval="5000"
    singleInstance="true"
    validateConnection="false">
    <Redundancy>
      <Address url="tcp://10.41.186.46:8030/Tenaris.Manager.Shift.soap" forumPresent="false" isTargetManager="true"/>
    </Redundancy>
  </Tenaris.Manager.Shift>

  <!-- Tracking manager configuration -->
  <Tenaris.Manager.Tracking
    instanceType="Tenaris.Manager.Tracking.Shared.ITrackingManager, Tenaris.Manager.Tracking.Shared, Version=4.1.0.0, Culture=neutral, PublicKeyToken=eef9a6bb3b9b0366"
    aliveInterval="5000"
    singleInstance="true"
    validateConnection="false">
    <Redundancy>
      <Address url="tcp://10.41.186.46:9501/TrackingManager.soap" forumPresent="false" isTargetManager="true"/>
    </Redundancy>
  </Tenaris.Manager.Tracking>
  
  <Tenaris.Manager.Handshake.HandshakeManager factoryType="Tenaris.Manager.Handshake.HandshakeFactory, Tenaris.Manager.Handshake, Version=4.1.0.0, Culture=neutral, PublicKeyToken=3baa981d53c5ce4a" isSingleton="true">
    <HandshakeManagerConfiguration
        HandshakeReturnsResultAndTriggerCopy="true"
        Testing="false"
        HandledDefinitionList="">
    </HandshakeManagerConfiguration>
  </Tenaris.Manager.Handshake.HandshakeManager>

  <!--Handshake manager configuration-->
<!--
  <Tenaris.Manager.Handshake.HandshakeManager
    instanceType="Tenaris.Manager.Handshake.Shared.IHandshakeManager, Tenaris.Manager.Handshake.Shared, Version=4.1.0.0, Culture=neutral, PublicKeyToken=29c584614971a615"
    aliveInterval="5000"
    singleInstance="true"
    validateConnection="false">
    <Redundancy>
      <Address url="tcp://10.41.186.46:9111/Tenaris.Manager.Handshake.HandshakeManager.soap" forumPresent="false" isTargetManager="true"/>
    </Redundancy>
  </Tenaris.Manager.Handshake.HandshakeManager>
-->
  <AcquisitionConfiguration factoryType="Tenaris.Library.IVisionClient.IVisionClientFactory, Tenaris.Library.IVisionClient, Version=4.1.0.0, Culture=neutral, PublicKeyToken=76aaee927e074b49">
    <IVisionClientConfiguration ConnectionStringName="" IVisionMode="IVisionRT" AliveCheckInterval="5000" SOAPReadInterval="2000"
	                              RetryCount="2" Timeout="5000" >
      <Servers>
        <Server ServerName="autmsvrtest" />
      </Servers>
      <AutoSubscriptions>
        <AutoSubscription Pattern=".DB212."/>
      </AutoSubscriptions>
      <WriteOnlyReferences>
        <WriteOnly Pattern=".DB213."/>
      </WriteOnlyReferences>
    </IVisionClientConfiguration>
  </AcquisitionConfiguration>

  <!--Command manager configuration-->
  <Tenaris.Manager.Command.CommandManager
    instanceType="Tenaris.Manager.Command.Shared.ICommandManager, Tenaris.Manager.Command.Shared, Version=4.1.0.0, Culture=neutral, PublicKeyToken=85d881d6f906ae36"
    aliveInterval="5000"
    singleInstance="true"
    validateConnection="false">
    <Redundancy>
      <Address url="tcp://10.41.186.46:8010/Tenaris.Manager.Command.soap" forumPresent="false" isTargetManager="true"/>
    </Redundancy>
  </Tenaris.Manager.Command.CommandManager>

  <log
    maxFileSize="8096"
    msgFormat="{Timestamp:HH:mm:ss.fff} ; {Level,-7} ; {ClassName} ; {Message} ; {MethodName}"
    logLevel="Debug"
    traceAttributeLogEnabled="false"
    additionalLogDestination="Console"
    />

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

</configuration>
