<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="ProductionViewConfiguration" type="Tenaris.View.Production.Model.Common.ProductionViewConfiguration, Tenaris.View.Production.Model"/>
        <section name="ManagerProxyFactory" type="Tenaris.Library.Proxy.Configuration.ProxyFactoryConfigurationSection, Tenaris.Library.Proxy" />
        <section name="ProxyFactory" type="Tenaris.Library.Proxy.Configuration.ProxyFactoryConfigurationSection, Tenaris.Library.Proxy" />
        <section name="ProductionClientConfiguration" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy" />
        <section name="SpecificationServiceClient" type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework"/>
        <section name="log" type="Tenaris.Library.Log.LogConfiguration, Tenaris.Library.Log" />

        <!--SECURITY: MODE CLIENT-->
        <!--<section name="Tenaris.Library.Security" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>-->

        <!--SECURITY: STAND ALONE-->
        <section name="Tenaris.Library.Security" type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework"/>

    </configSections>

    <connectionStrings>
        <add name="DbConnection" connectionString="MultipleActiveResultSets=True;Asynchronous Processing=true;User ID=sa;Password=sql2008;Persist Security Info=True;Initial Catalog=ScSiz200;Data Source=AUTMDBDEV" />
    </connectionStrings>

    <!--SECURITY: MODE CLIENT-->
    <!--<Tenaris.Library.Security
      url="tcp://10.41.186.46:8040/Tenaris.Service.Security.soap"
      instanceType="Tenaris.Service.Security.Shared.ISecurityService, Tenaris.Service.Security.Shared"
      aliveInterval="0"
      validateConnection="true"
      singleInstance="true"
      forumPresent="false"
      isTargetManager="false">
		<Redundancy>
		</Redundancy>
	</Tenaris.Library.Security>-->

    <!--SECURITY: STAND ALONE-->
    <Tenaris.Library.Security factoryType="Tenaris.Service.Security.FactoryLocal, Tenaris.Service.Security" isSingleton="True">
        <SecurityConfiguration ConnectionStringName="DbConnection" AuthenticationType="Database" DefaultZoneCode="NONE"/>
    </Tenaris.Library.Security>

    <SpecificationServiceClient factoryType="Tenaris.Dalmine.Service.Specification.Client.SpecificationServiceClientFactory, Tenaris.Dalmine.Service.Specification.Client" isSingleton="True">
        <SpecificationServiceClientConfiguration Address="net.tcp://10.41.186.46:9000/SpecificationService"/>
    </SpecificationServiceClient>

    <ProductionClientConfiguration
      url="tcp://10.41.186.46:8040/Tenaris.Manager.Production.ProductionManager.soap"
      instanceType="Tenaris.Manager.Production.Shared.IProductionManager, Tenaris.Manager.Production.Shared"
      aliveInterval="5000"
      singleInstance="true"
      validateConnection="false"
      forumPresent="false">
        <Redundancy>
            <!--<Address url="tcp://10.80.130.51:8040/Tenaris.Manager.Production.ProductionManager.soap" forumPresent="false" isTargetManager="true" />-->
        </Redundancy>
    </ProductionClientConfiguration>

    <ProductionViewConfiguration
		ZoneCode="SWAGPIN"
        DBConnection="DbConnection"
        Culture="it-IT"
        DskMgr="false"
        ReverseMachinesTabsOrder="false"
        ReverseBalanceLayoutCodeList="INGRESSO"
        SpecificationStandardCycleTime="MACHINEBATCH.StandardCycleTime"
        SpecificationStandardWorkTime="MACHINEBATCH.StandardWorkTime"
        YellowSemaphorePipesCount="3"
        ShowChangeProductOnlyOnEndedBatch="true"
        ChangeBatchCommand="CHANGEBATCH"
        SelectFutureBatchCommand="SELFUTBATCH"
        UnlockCommand="UNLOCK"
        EditCountersCommand="EDITCOUNTERS"
    >
    </ProductionViewConfiguration>

    <!-- Remoting Configuration, more info please check the https://trac.auto.tenaris.techint.net/common/wiki/Library/Proxy. -->
    <system.runtime.remoting>
        <application name="ProductionView">
            <channels>
                <channel ref="tcp" port="0">
                    <clientProviders>
                        <provider type="Tenaris.Library.Proxy.Remoting.ClientRemotingInterceptorProvider, Tenaris.Library.Proxy"/>
                        <formatter ref="binary" typeFilterLevel="Full"/>
                    </clientProviders>
                    <serverProviders>
                        <formatter ref="binary" typeFilterLevel="Full"/>
                    </serverProviders>
                </channel>
            </channels>
        </application>
    </system.runtime.remoting>

    <log
		maxQueueSize="10000"
		dumpStack="false"
        traceAttributeLogEnabled="false"
		msgFormat="{Timestamp:HH:mm.ss.fff} ; {Level,-7} ; {ClassName} ; {Message} ; {MethodName}"
        logLevel="Debug"
	/>

    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    </startup>
    <system.web>
        <membership defaultProvider="ClientAuthenticationMembershipProvider">
            <providers>
                <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
            </providers>
        </membership>
        <roleManager defaultProvider="ClientRoleProvider" enabled="true">
            <providers>
                <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
            </providers>
        </roleManager>
    </system.web>
</configuration>
