<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="ManagerBaseConfiguration" type="Tenaris.Manager.Forum.Shared.Configuration.ManagerBaseConfiguration, Tenaris.Manager.Forum.Shared, Version=4.1.0.0, Culture=neutral, PublicKeyToken=8a748c80852b8187"/>
    <section name="Tenaris.Manager.Tracking.TrackingManager" type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework, Version=4.1.0.0, Culture=neutral, PublicKeyToken=d69ca37b4d4b73b8"/>
    <section name="Tenaris.Manager.Handshake.HandshakeManager" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy, Version=4.1.0.0, Culture=neutral, PublicKeyToken=c4a5016cfc42fcd0"/>
    <section name="CommandManager" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy, Version=4.1.0.0, Culture=neutral, PublicKeyToken=c4a5016cfc42fcd0"/>
    <section name="DefaultStatusChangePlugin" type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework, Version=4.1.0.0, Culture=neutral, PublicKeyToken=d69ca37b4d4b73b8"/>
    <section name="log" type="Tenaris.Library.Log.LogConfiguration, Tenaris.Library.Log, Version=4.1.0.0, Culture=neutral, PublicKeyToken=bbb03b5ff4bbb68b"/>
  </configSections>

  <connectionStrings>
    <add name="dbLevel2" connectionString="Application Name=TrackingManager; Data Source=10.121.114.68\ver1;Initial Catalog=TCTbOCTG;User ID=sa;Password=Tenaris2012;Persist Security Info=True;MultipleActiveResultSets=True; Asynchronous Processing=true; Pooling=true; Max Pool Size=300;"/>
  </connectionStrings>

  <ManagerBaseConfiguration areaCode="TCTbOCTG" defaultConnectionStringName="dbLevel2"/>

  <Tenaris.Manager.Tracking.TrackingManager factoryType="Tenaris.Manager.Tracking.TrackingManagerFactory, Tenaris.Manager.Tracking" isSingleton="True" >
    <TrackingManagerConfiguration handshakeExecutionTimeout="0" handshakeResultWriteTimeout="0" statusChangePluginSectionName="DefaultStatusChangePlugin"/>
  </Tenaris.Manager.Tracking.TrackingManager>

  <DefaultStatusChangePlugin factoryType="Tenaris.Manager.Tracking.Plugin.Shared.DefaultStatusChangePluginFactory, Tenaris.Manager.Tracking.Plugin.Shared, Version=4.1.0.0, Culture=neutral, PublicKeyToken=9a6c584a4a3dc9d0" isSingleton="True">
    <DefaultStatusChangePluginConfiguration DatabaseConnectionStringName="Level2"/>
  </DefaultStatusChangePlugin>

  <Tenaris.Manager.Handshake.HandshakeManager
    instanceType="Tenaris.Manager.Handshake.Shared.IHandshakeManager, Tenaris.Manager.Handshake.Shared, Version=4.1.0.0, Culture=neutral, PublicKeyToken=29c584614971a615"
    aliveInterval="1000"
	  singleInstance="true"
	  isTargetManager="true"
	  validateConnection="true">
    <Redundancy>
      <Address url="tcp://10.121.114.68:49201/Tenaris.Manager.Handshake.HandshakeManager.soap" isTargetManager="true" validateConnection="true"/>
    </Redundancy>
  </Tenaris.Manager.Handshake.HandshakeManager>

  <CommandManager
  	instanceType="Tenaris.Manager.Command.Shared.ICommandManager, Tenaris.Manager.Command.Shared, Version=4.1.0.0, Culture=neutral, PublicKeyToken=85d881d6f906ae36"
    aliveInterval="1000"
	  singleInstance="true"
	  isTargetManager="true"
	  validateConnection="true">
    <Redundancy>
      <Address url="tcp://10.121.114.68:49200/Tenaris.Manager.Command.CommandManager.soap" isTargetManager="true" validateConnection="true"/>
    </Redundancy>
  </CommandManager>

  <log
	  maxFileSize="8096"
	  maxFileCount="10"
	  noQueue="true"
	  msgFormat="{TypeChar} {Timestamp:yyyy-MM-dd HH:mm:ss} [{AppDomainName,-20}:{ThreadId,-5:d5}] [lap={LapFriendlyValue,-10:f2}{LapFriendlyUnit,4}] {AssemblyName,-15}; {MethodName} {IdentString} {Message}"
	  logLevel="Debug"
	  traceAttributeLogEnabled="true"
	  path="Log\"
	  logBaseName="TrackingManager"
	  additionalLogDestination="Console"
  />

  <!--Remoting configuration. This can be placed in a separate file named remoting.config-->
  <system.runtime.remoting>
    <customErrors mode="off"/>
    <application name="Server">
      <channels>
        <channel ref="tcp" port="49202" bindTo="10.230.110.16" timeout="10000">
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full"/>
          </serverProviders>
          <clientProviders>
            <provider type="Tenaris.Library.Proxy.Remoting.ClientRemotingInterceptorProvider, Tenaris.Library.Proxy, Version=4.1.0.0, Culture=neutral, PublicKeyToken=c4a5016cfc42fcd0"/>
            <formatter ref="binary" typeFilterLevel="Full"/>
          </clientProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

</configuration>
